/* 초기화 코드드 */
body {
  line-height: 1;
  font-family: 'Noto Sans KR', sans-serif; 
  color:rgb(74, 74, 74)
}
ol, ul {
  list-style: none;
  padding:0;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 내부 css */


.App{
  display: flex;
  justify-content: center;
  margin-top: 200px;
}

header{
display: flex;
justify-content: center;
align-items: center;
}

.board-table{
  background-color: rgb(242, 242, 242);
  border-radius: 20px;
  box-shadow: 4px 4px 10px rgba(84, 84, 84, 0.2);
  width:600px;
}

header p{
  margin-right:auto;
}

.board-table th{
}

.board-table tr{
 padding: 10px;
}

.btns{
  display: flex;
  gap:10px;
  margin-left:auto;
}


.btns button{
  height:30px;
}

.board-detail{
  width: 800px;
  height: 600px;
  background-color: rgb(247, 247, 247);
  border-radius: 15px;
  border-color: gray;
  box-shadow: 0 0 10px rgba(82, 82, 82, 0.3);
  

}

.board-title{
  padding: 30px;
}

.board-contents{
  padding: 30px;
}